In [ ]:
# 아나콘다 가상환경에서 설치
# pip install pymysql
# pip install sqlalchemy==1.4.54

# pandas 버전 낮춤
# pip install pandas==2.1.3
# 2.2.3 -> 2.1.3로 낮췄음

# sqlalchemy는 2.0 미만
# pandas는 2.2 미만

In [1]:
import pymysql
print(pymysql.__version__)

1.4.6

In [ ]:
import sqlalchemy
print(sqlalchemy.__version__)

In [4]:
# import pandas as pd
# print(pandas.__version__)

## 데이터베이스/테이블 생성

In [2]:
# 1. DB 연결 
# 호스트명, 포트번호, 로그인 계정, 비밀번호, CHARSET 파라미터로 지정 
conn = pymysql.connect(host='localhost',
                       port=3306,
                       user='root',
                       passwd='0000',
                       charset='utf8')

In [3]:
# 2. cursor 객체 생성 
# cursor 객체를 통해서 메소드 호출 
cursor = conn.cursor()

In [4]:
# 3. 데이터베이스(스키마) 생성

# sql = 'create database test_db' # 쿼리문 생성
# cursor.execute(sql)
# 워크벤치에서 test_db 생성확인

In [8]:
# 생성된 데이터베이스(스키마) 확인
sql = 'show databases'
cursor.execute(sql)
cursor.fetchall()

(('information_schema',),
 ('interest_rate_db',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

In [8]:
# 데이터베이스 삭제 
# sql = 'drop database test_db'
# cursor.execute(sql)

0

In [9]:
# 데이터베이스 삭제됬나 확인
# sql = 'show databases'
# cursor.execute(sql)
# cursor.fetchall()

(('information_schema',), ('mysql',), ('performance_schema',), ('sys',))

In [5]:
# interest_rate_db에 아래와 같이 테이블 생성
sql = 'use interest_rate_db'
cursor.execute(sql)

0

In [8]:
sql = """CREATE TABLE natural_data (
    id INT PRIMARY KEY AUTO_INCREMENT,
    unemployment FLOAT NOT NULL,
    employment FLOAT NOT NULL,
    coincident FLOAT NOT NULL,
    leading_price FLOAT NOT NULL,
    business_survey FLOAT NOT NULL,
    ESI FLOAT NOT NULL,
    industrial_production FLOAT NOT NULL,
    capital_investment FLOAT NOT NULL,
    CPI FLOAT NOT NULL,
    monetary_base FLOAT NOT NULL,
    broad_money FLOAT NOT NULL,
    export_price FLOAT NOT NULL,
    terms_of_trade FLOAT NOT NULL,
    export_value FLOAT NOT NULL,
    current_account FLOAT NOT NULL,
    retail_sales FLOAT NOT NULL,
    GDP FLOAT NOT NULL,
    GDP_deflator FLOAT NOT NULL,
    employment_rate FLOAT NOT NULL,
    labor_force_participation_rate FLOAT NOT NULL,
    credit_card_spending FLOAT NOT NULL,
    housing_price FLOAT NOT NULL,
    rental_price FLOAT NOT NULL,
    land_price_change FLOAT NOT NULL,
    CCSI FLOAT NOT NULL,
    manufacturing_production FLOAT NOT NULL,
    manufacturing_output FLOAT NOT NULL,
    manufacturing_capacity_utilization FLOAT NOT NULL,
    service_production FLOAT NOT NULL,
    us_policy_rate FLOAT NOT NULL,
    CPI_consumer_price FLOAT NOT NULL,
    PPI FLOAT NOT NULL,
    financial_institution_liquidity FLOAT NOT NULL,
    broad_liquidity FLOAT NOT NULL,
    deposit_rate FLOAT NOT NULL,
    loan_rate FLOAT NOT NULL,
    total_deposits FLOAT NOT NULL,
    loans_outstanding FLOAT NOT NULL,
    kospi_index FLOAT NOT NULL,
    kosdaq_index FLOAT NOT NULL,
    import_price FLOAT NOT NULL,
    terms_of_income_trade FLOAT NOT NULL,
    import_value FLOAT NOT NULL,
    trade_balance FLOAT NOT NULL,
    capital_account FLOAT NOT NULL,
    financial_account FLOAT NOT NULL,
    us_retail_sales FLOAT NOT NULL,
    us_industrial_production FLOAT NOT NULL,
    us_consumer_sentiment FLOAT NOT NULL,
    us_GDP FLOAT NOT NULL,
    us_CPI FLOAT NOT NULL,
    household_credit FLOAT NOT NULL,
    economic_growth_rate FLOAT NOT NULL,
    interest_rate FLOAT NOT NULL,
    datetime CHAR(10) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);"""
cursor.execute(sql)

OperationalError: (1050, "Table 'natural_data' already exists")

In [31]:
sql = "DROP TABLE natural_data"
cursor.execute(sql)

0

In [12]:
sql = """CREATE TABLE clean_data (
    id INT PRIMARY KEY AUTO_INCREMENT,
    unemployment FLOAT NOT NULL,
    coincident FLOAT NOT NULL,
    leading_price FLOAT NOT NULL,
    ESI FLOAT NOT NULL,
    export_price FLOAT NOT NULL,
    current_account FLOAT NOT NULL,
    GDP FLOAT NOT NULL,
    employment_rate FLOAT NOT NULL,
    land_price_change FLOAT NOT NULL,
    CCSI FLOAT NOT NULL,
    manufacturing_capacity_utilization FLOAT NOT NULL,
    us_policy_rate FLOAT NOT NULL,
    kosdaq_index FLOAT NOT NULL,
    capital_account FLOAT NOT NULL,
    us_retail_sales FLOAT NOT NULL,
    us_industrial_production FLOAT NOT NULL,
    us_consumer_sentiment FLOAT NOT NULL,
    us_GDP FLOAT NOT NULL,
    us_CPI FLOAT NOT NULL,
    economic_growth_rate FLOAT NOT NULL,
    interest_rate FLOAT NOT NULL,
    datetime CHAR(10) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);"""
cursor.execute(sql)

0

In [11]:
sql = "DROP TABLE clean_data"
cursor.execute(sql)

0

In [13]:
sql = """CREATE TABLE var_data (
    id INT PRIMARY KEY AUTO_INCREMENT,
    unemployment FLOAT NOT NULL,
    coincident FLOAT NOT NULL,
    leading_price FLOAT NOT NULL,
    ESI FLOAT NOT NULL,
    export_price FLOAT NOT NULL,
    current_account FLOAT NOT NULL,
    GDP FLOAT NOT NULL,
    employment_rate FLOAT NOT NULL,
    land_price_change FLOAT NOT NULL,
    CCSI FLOAT NOT NULL,
    manufacturing_capacity_utilization FLOAT NOT NULL,
    us_policy_rate FLOAT NOT NULL,
    kosdaq_index FLOAT NOT NULL,
    capital_account FLOAT NOT NULL,
    us_retail_sales FLOAT NOT NULL,
    us_industrial_production FLOAT NOT NULL,
    us_consumer_sentiment FLOAT NOT NULL,
    us_GDP FLOAT NOT NULL,
    us_CPI FLOAT NOT NULL,
    economic_growth_rate FLOAT NOT NULL,
    interest_rate FLOAT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);"""
cursor.execute(sql)

0

In [14]:
sql = """CREATE TABLE lagged_data (
    id INT PRIMARY KEY AUTO_INCREMENT,
    unemployment FLOAT NOT NULL,
    coincident FLOAT NOT NULL,
    leading_price FLOAT NOT NULL,
    ESI FLOAT NOT NULL,
    export_price FLOAT NOT NULL,
    current_account FLOAT NOT NULL,
    GDP FLOAT NOT NULL,
    land_price_change FLOAT NOT NULL,
    CCSI FLOAT NOT NULL,
    manufacturing_capacity_utilization FLOAT NOT NULL,
    us_policy_rate FLOAT NOT NULL,
    kosdaq_index FLOAT NOT NULL,
    capital_account FLOAT NOT NULL,
    us_industrial_production FLOAT NOT NULL,
    us_consumer_sentiment FLOAT NOT NULL,
    us_CPI FLOAT NOT NULL,
    economic_growth_rate FLOAT NOT NULL,
    interest_rate FLOAT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);"""
cursor.execute(sql)

0

In [13]:
sql = "DROP TABLE lagged_data"
cursor.execute(sql)

0

In [17]:
from sqlalchemy import create_engine

engine_obj = create_engine('mysql+pymysql://root:0000@localhost/interest_rate_db')
db_conn = engine_obj.connect() # 데이터베이스 연결

In [18]:
import pandas as pd
import pymysql
import sqlalchemy
# SQL 쿼리 실행하여 DataFrame으로 불러오기
natural_data_df = pd.read_sql_table('natural_data', db_conn)

In [13]:
natural_data_df

,id,unemployment,employment,coincident,leading_price,business_survey,ESI,industrial_production,capital_investment,CPI,...,us_retail_sales,us_industrial_production,us_consumer_sentiment,us_GDP,us_CPI,household_credit,economic_growth_rate,interest_rate,datetime,created_at
0,1,3.3,23141.0,102.5,101.2,83.0,112.3,77.7,68.6,79.47,...,0.3,-0.1,78.4,-1.7,4.1,677199.0,0.8,5.00,08-Jan,2025-03-25 17:11:03
1,2,3.5,23065.0,102.5,100.6,83.0,114.7,73.2,66.0,79.77,...,-0.9,-0.4,70.8,-1.7,4.1,677199.0,0.8,5.00,08-Feb,2025-03-25 17:11:03
2,3,3.4,23490.0,102.4,100.2,81.0,107.3,80.5,77.6,80.52,...,0.2,-0.3,69.5,-1.7,4.1,677199.0,0.8,5.00,08-Mar,2025-03-25 17:11:03
3,4,3.2,23907.0,102.1,100.0,85.0,109.0,79.4,76.0,80.96,...,0.0,-0.7,62.6,2.4,4.4,698227.0,0.4,5.00,08-Apr,2025-03-25 17:11:03
4,5,3.1,24144.0,101.8,99.7,82.0,104.1,79.9,73.2,81.63,...,0.9,-0.6,59.8,2.4,4.4,698227.0,0.4,5.00,08-May,2025-03-25 17:11:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,200,1.9,28801.0,98.2,100.6,70.0,94.5,110.8,104.2,114.54,...,-0.1,0.5,67.9,3.1,2.6,1913810.0,0.1,3.50,24-Aug,2025-03-25 17:11:03
200,201,2.1,28842.0,98.1,100.7,70.0,94.0,110.9,111.7,114.65,...,0.9,-0.4,70.1,3.1,2.6,1913810.0,0.1,3.50,24-Sep,2025-03-25 17:11:03
201,202,2.3,28847.0,98.1,100.6,69.0,92.8,113.6,109.6,114.69,...,0.6,-0.5,70.5,2.3,2.7,1927260.0,0.1,3.25,24-Oct,2025-03-25 17:11:03
202,203,2.2,28821.0,97.6,100.8,69.0,93.0,114.1,114.5,114.40,...,0.7,-0.1,71.8,2.3,2.7,1927260.0,0.1,3.00,24-Nov,2025-03-25 17:11:03
203,204,3.8,28041.0,97.6,100.6,64.0,83.3,128.3,143.6,114.91,...,0.7,1.0,74.0,2.3,2.7,1927260.0,0.1,3.00,24-Dec,2025-03-25 17:11:03

In [14]:
natural_data_df.to_csv('./natural_data_df.csv', encoding='utf-8', index=False)

In [19]:
clean_data_df = pd.read_sql_table('clean_data', db_conn)

In [20]:
clean_data_df.to_csv('./clean_data_df.csv', encoding='utf-8', index=False)

In [21]:
lagged_data_df = pd.read_sql_table('lagged_data', db_conn)

In [22]:
lagged_data_df.to_csv('./lagged_data_df.csv', encoding='utf-8', index=False)